<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>

    <form action="register" method="post">
        {% csrf_token %}

        <input type="text" name="username" placeholder="username"><br>
         <input type="text" name="address" placeholder="address"><br>
         <input type="text" name="licence" placeholder="licence"><br>
        <input type="text" name="vehicle" placeholder="vehicle"><br>

    </form>
    <div>

</div>

</body>
</html>